openapi: 3.0.1
info:
  title: API ecomm - products
  description: API para consulta produtos da plataforma ecomm
  version: 0.0.1
  termsOfService: https://www.ecomm.com/terms-of-services
  contact:
    name: Suporte ao usuário
    email: suporte@ecomm.com
    url: https://www.ecomm.com/support
  license:
    name: 'licença: GPLv3'
    url: https://www.gnu.org/licenses/gpl-3.0.html
externalDocs:
  description: Documentação Operacional
  url: https://www.ecomm.com/ecomm-operations
servers:
- url: https://www.ecomm.com/api
  description: API plataforma ecomm
- url: https://www.ecomm.com/api/admin
  description: API plataforma ecomm administrador
paths:
  /api/categories:
    get:
      summary: Recupera todas as categorias
      tags:
      - categories
      responses:
        '200':
          $ref: '#/components/responses/categories'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /api/categories/{id}:
    parameters:
      - $ref: '#/components/parameters/ID'
    get:
      summary: Recupera uma categoria
      tags:
      - categories
      responses:
        '200':
          $ref: '#/components/responses/Category'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /api/admin/categories:
    post:
      summary: Cadastra uma nova categoria
      tags:
      - admin/categories
      requestBody:
        $ref: '#/components/requestBodies/CategoriesBodies'
      responses:
        '201':
          $ref: '#/components/responses/Category'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /api/admin/categories/{id}:
    parameters:
      - $ref: '#/components/parameters/ID'
    put:
      summary: Atualiza os dados de uma categoria
      tags:
      - admin/categories
      requestBody:
        $ref: '#/components/requestBodies/CategoriesBodies'
      responses:
        '200':
          $ref: '#/components/responses/Category'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    patch:
      summary: Ativa/Desativa uma categoria
      tags:
      - admin/categories
      responses:
        '200':
          $ref: '#/components/responses/Category'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Exclui uma categoria
      tags:
      - admin/categories
      responses:
        '200':
          $ref: '#/components/responses/Category'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    Category:
      type: object
      properties:
        _id:
          type: integer
        nome:
          type: string
        status:
          type: string
    Categories:
      type: array
      items:
        $ref: '#/components/schemas/Category'
    CategoryCreateUpdate:
      type: object
      properties:
        nome:
          type: string
  responses:
    categories:
      description: Sucesso
      content:
        aplication/json:
          schema:
            $ref: '#/components/schemas/Categories'
    Category:
      description: Sucesso
      content:
        application/json:
          schema: 
            $ref: '#/components/schemas/Category'
    '401':
      description: usuário não autorizado
      content:
        application/json:
          example: 'Unauthorized'
    '404':
      description: recurso não encontrado
      content:
        application/json:
          example: 'Not Found'
    '500':
      description: Erro servidor
      content:
        application/json:
          example: 'Internal Server Error'        
  requestBodies:
    CategoriesBodies:
      content:
        aplication/json:
          schema:
            $ref: '#/components/schemas/CategoryCreateUpdate'
  parameters:
    ID: 
      name: _id
      in: path
      schema:
        type: integer
      required: true
